# 核心Web框架依赖
Flask==2.3.3
flask-socketio==5.3.6

# 爬虫和自动化依赖
selenium==4.15.2
requests==2.31.0
beautifulsoup4==4.13.0

# 数据处理依赖
pandas==2.2.3

# 任务调度依赖
APScheduler==3.10.4
schedule

# 系统监控依赖
psutil==5.9.5

# python-115 核心依赖（本地安装python-115库）
httpx
httpx_request>=0.0.8.2
orjson
p115client>=0.0.5.12.2
magnet2torrent
rich
yarl
glob_pattern>=0.0.2
posixpatht>=0.0.4